Move and Copy/Move and Copy/Move and Copy/Debug/
Move and Copy/Move and Copy/Move and Copy.VC.VC.opendb
Move and Copy/Move and Copy/Move and Copy.VC.db
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.log
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/CL.command.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/CL.read.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/CL.write.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/Move and Copy.lastbuildstate
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/Move and Copy.write.1u.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/link.command.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/link.read.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Move and Copy.tlog/link.write.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Debug/Source.obj
Move and Copy/Move and Copy/Move and Copy/x64/Debug/vc140.idb
Move and Copy/Move and Copy/Move and Copy/x64/Debug/vc140.pdb
Move and Copy/Move and Copy/x64/Debug/Move and Copy.exe
Move and Copy/Move and Copy/x64/Debug/Move and Copy.ilk
Move and Copy/Move and Copy/x64/Debug/Move and Copy.pdb
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.log
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/CL.command.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/CL.read.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/CL.write.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/Move and Copy.lastbuildstate
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/Move and Copy.write.1u.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/link.command.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/link.read.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Move and Copy.tlog/link.write.1.tlog
Move and Copy/Move and Copy/Move and Copy/x64/Release/Source.obj
Move and Copy/Move and Copy/Move and Copy/x64/Release/vc140.pdb
Move and Copy/Move and Copy/x64/Release/Move and Copy.exe
Move and Copy/Move and Copy/x64/Release/Move and Copy.iobj
Move and Copy/Move and Copy/x64/Release/Move and Copy.ipdb
Move and Copy/Move and Copy/x64/Release/Move and Copy.pdb
References/References/References.VC.db
References/References/References/Debug/References.tlog/CL.command.1.tlog
References/References/References/Debug/References.tlog/CL.read.1.tlog
References/References/References/Debug/References.tlog/CL.write.1.tlog
References/References/References/Debug/References.tlog/References.lastbuildstate
References/References/References/Debug/References.tlog/link.command.1.tlog
References/References/References/Debug/References.tlog/link.read.1.tlog
References/References/References/Debug/References.tlog/link.write.1.tlog
References/References/References/Debug/vc140.idb
